<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Employee.Properties.Settings.localDatabase"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\localDatabase.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Employee.Properties.Settings.D__INF_ARTURDZIUBICH01_12_2020_ARTURDZIUBICH01_12_2020_LOCALDATABASE_MDFConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=D:\INF\ARTURDZIUBICH01.12.2020\ARTURDZIUBICH01.12.2020\LOCALDATABASE.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="Employee.Properties.Settings.D__INF_ARTURDZIUBICH01_12_2020_ARTURDZIUBICH01_12_2020_BIN_DEBUG_LOCALDATABASE_MDFConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=D:\INF\ARTURDZIUBICH01.12.2020\ARTURDZIUBICH01.12.2020\BIN\DEBUG\LOCALDATABASE.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>